.container {
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 15px;
}

.checkbox {
    position: relative;
    margin: 20px;
}

.checkbox-input {
    appearance: none;
}

.checkbox-label {
    padding-left: 24px;
}

.checkbox-label::before {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid black;
    content: "";
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
}
